.Stream-wrapper {
    display: flex;
    position: relative;
    justify-items: center;
    align-items: center;
    min-width: 640px;
    width: 80%;
}

.Stream-player {
    width: 100%;
}

.Stream-controls {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-items: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.Stream-control {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}

.Stream-control:hover {
    cursor: pointer;
}

.Stream-play.playing {
    background-image: url(../../images/pause.svg);
}

.Stream-play.paused {
    background-image: url(../../images/play.svg);
}

.Stream-full-screen:hover {
    transition: var(--transition);
    transform: scale(1.1);
}

.Stream-full-screen.window {
    background-image: url(../../images/full_screen.svg);
}

.Stream-full-screen.window:hover {
    transform: scale(1.1);
}

.Stream-full-screen.full {
    background-image: url(../../images/exit_full_screen.svg);
}

.Stream-full-screen.full:hover {
    transform: scale(0.9);
}