.Home-grid {
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 200px;
    align-items: center;
    justify-items: center;
}

.Home-item {
    height: 200px;
    width: 200px;
    transition: var(--transition);
}

.Home-item:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.Home-item.light {
    filter: var(--strong-dark-filter);
}

.Home-item.dark {
    filter: var(--strong-light-filter);
}