.Input {
    width: 40px;
    padding: 5px;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
    background-color: transparent;
    font-size: 15px;
    transition: var(--transition);
}

.Input::-webkit-input-placeholder {
    transition: var(--transition);
}

.Input.light.valid {
    border-color: var(--weak-light);
}

.Input.dark.valid {
    border-color: var(--weak-dark);
}

.Input.invalid {
    border-color: var(--red);
}

.Input.light::-webkit-input-placeholder {
    color: var(--strong-dark);
}

.Input.dark::-webkit-input-placeholder {
    color: var(--strong-light);
}

.Input.light:focus {
    border-color: var(--weak-dark);
}

.Input.dark:focus {
    border-color: var(--weak-light);
}