.Header {
    display: grid;
    grid-template-columns: auto 1fr 90px;
    grid-template-rows: 60px;
    align-items: center;
    justify-items: center;
    transition: var(--transition);
}

.Header.light {
    background-color: var(--mid-light);
}

.Header.dark {
    background-color: var(--mid-dark);
}