.Header {
    position: relative;
    transition: var(--transition);
}

.Header.light {
    background-color: var(--mid-light);
}

.Header.dark {
    background-color: var(--mid-dark);
}

.Header-content {
    display: grid;
    grid-template-columns: 110px auto 1fr auto;
    grid-template-rows: 60px;
    align-items: center;
    justify-items: center;
}

.Header-home {
    height: 50px;
    width: 100px;
    transition: var(--transition);
    background-image: url(../../images/home.svg);
    background-size: 100px 50px;
}

.Header-home.light {
    filter: var(--strong-dark-filter);
}

.Header-home.dark {
    filter: var(--strong-light-filter);
}

.Header-gap {
    width: 15px;
}

.Header-icons {
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 15px;
    scrollbar-width: 0;
    overflow-y: visible;
    overflow-x: auto;
}

.Header-icons::-webkit-scrollbar {
    display: none;
}

.Header-icons > div {
    flex-shrink: 0;
}

.Switch {
    margin: 2px;
}