.Header {
    display: grid;
    grid-template-columns: 110px 1fr 90px;
    grid-template-rows: 60px;
    align-items: center;
    justify-items: center;
    transition: var(--transition);
}

.Header.light {
    background-color: var(--mid-light);
}

.Header.dark {
    background-color: var(--mid-dark);
}

.Header-home {
    height: 50px;
    width: 100px;
    transition: var(--transition);
    background-image: url(../../images/home.svg);
    background-size: 100px 50px;
}

.Header-home.light {
    filter: var(--strong-dark-filter);
}

.Header-home.dark {
    filter: var(--strong-light-filter);
}